.categories {
    padding: 100px 0;
}

.categories h5 {
    font-size: 40px;
    color: #1E1E2F;
    margin-bottom: 40px;
    text-align: center;
}

.categories .tab_head {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.categories .tab_head li {
    font-size: 16px;
    color: #222222;
}

.categories .tab_head li:first-child {
    border-bottom: 2px solid #222222;
    padding-bottom: 2px;
    font-weight: 500;
}

.categories_card {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.categories_card .card_item {
    width: 20%;
}

.categories_card .card_item .card_image {
    width: 100%;
    margin-bottom: 10px;
}

.categories_card .card_item .card_image img {
    width: 100%;
    display: block;
}

.categories_card .card_item h6 {
    font-size: 16px;
    color: #1E1E2F;
    margin-bottom: 2px;
}

.categories_card .card_item p {
    font-size: 12px;
    color: #1E1E2F;
}

@media (max-width:880px) {
    .categories h5 {
        font-size: 26px;
    }
}

@media (max-width:800px) {
    .categories_card {
        flex-wrap: wrap;
    }

    .categories_card .card_item {
        width: 35%;
    }
}

@media (max-width:700px) {
    .categories .tab_head {
        flex-wrap: wrap;
        gap: 16px;
    }
}

@media (max-width:500px) {
    .categories_card .card_item {
        width: 46%;
    }
}