header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

header nav {
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav li {
    color: #1E1E2F;
    font-size: 16px;
    cursor: pointer;

}

.header_buttons {
    display: flex;
    gap: 20px;
}

.mobile_buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    width: 70%;
    margin: 0 auto;
}

.mobile_buttons .login,
.header_buttons .login {
    background-color: #fff;
    color: #1E1E2F;
    font-size: 16px;
}

.mobile_buttons .free,
.header_buttons .free {
    background-color: #1E1E2F;
    padding: 10px 40px;
    border-radius: 100px;
    color: #fff;
}

.menu_icon {
    font-size: 34px;
    display: none;
    cursor: pointer;
}

@media (max-width:860px) {
    header nav li {
        display: none;
    }

    .header_buttons .login,
    .header_buttons .free {
        display: none;
    }

    .menu_icon {
        display: block;
    }

    .menu_box {
        width: 70%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menu_box {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: #fff;
        z-index: 999;
        padding: 20px;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .close_icon {
        font-size: 32px;
        text-align: right;
        cursor: pointer;
    }

    .mobile_nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .mobile_nav li {
        font-size: 18px;
        color: #1E1E2F;
        cursor: pointer;
    }

    .banner .banner_textContainer .main_text h4 {
        font-size: 50px;
    }
}

@media (max-width:600px) {
    .menu_box {
        width: 100%;
    }

    .banner .passion {
        width: 80%;
    }

    .banner .passion input {
        padding: 14px 13px 24px 30px;
        font-size: 14px;
    }

    .banner .passion .go_btn {
        padding: 14px 20px;
    }
}

@media (max-width:480px) {
    .banner_ImgContainer .image_box {
        height: 280px;
    }

    .banner_ImgContainer .image_box:nth-child(2),
    .banner_ImgContainer .image_box:nth-child(3) {

        height: 280px;
    }
}