.spotlight {
    position: relative;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.banner .banner_textContainer {
    width: 30%;
}

.banner .banner_textContainer .main_text {
    margin-bottom: 50px;
}

.banner .banner_textContainer .main_text h4 {
    font-size: 70px;
    font-weight: 700;
    color: #1E1E2F;
}

.banner .passion {
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 0px;
    position: relative;
    z-index: 99;

}

.banner .passion input {
    padding: 24px 13px 24px 51px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #1E1E2F;
    position: relative;
}

.banner .passion .go_btn {
    position: absolute;
    background-color: #97C680;
    padding: 24px 32px;
    color: #1E1E2F;
    font-size: 20px;
    font-weight: 600;
    right: 0;
}

.banner .passion .go_btn:hover {
    background-color: #FEBA88;
    cursor: pointer;
}


.banner_ImgContainer {
    width: 65%;
    display: flex;
    align-items: center;
    height: 600px;
}

.banner_ImgContainer .image_box {
    width: 25%;
    position: relative;
    transition: transform 0.4s ease, width 0.4s ease;
    overflow: hidden;
    border-radius: 20px;
    height: 100%;
    margin: 0 10px !important;
}

.banner_ImgContainer .image_box::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;

}

.banner_ImgContainer .image_box img {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    object-fit: cover;
    border-radius: 20px;
}

.banner_ImgContainer .image_box.hovered .inside_text {
    position: absolute;
    bottom: 20px;
    left: 50px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    z-index: 77;
    background: none;
    transform: rotate(0);
}

.banner_ImgContainer .image_box .inside_text {
    position: absolute;
    bottom: 60px;
    left: -15px;
    padding: 16px;
    width: 50%;
    z-index: 77;
    background: #1E1E2F;
    transform: rotate(-90deg);
    transition: .3s ease
}

.banner_ImgContainer .image_box .inside_text h6 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.banner_ImgContainer .image_box .inside_text p {
    font-size: 14px;
    color: #fff;
}


.banner_ImgContainer:hover .image_box {
    width: 25% !important;
}


.banner_ImgContainer .image_box.hovered {
    transform: scaleX(1.1);
    width: 100% !important;
    margin: 0 30px !important;
}

@media (max-width:800px) {
    .banner {
        flex-direction: column;
    }

    .banner .banner_textContainer {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 100px;
    }

    .banner .banner_textContainer .main_text {
        text-align: center;
    }

    .banner .passion {

        width: 65%;
        margin: 0 auto;
    }

    .banner_ImgContainer {
        width: 100%;
    }
}